<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danielappdev.fosterships">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Activities-->
        <activity android:name=".loadingactitvity" android:screenOrientation="portrait">
            <!-- Original Intent goes here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- ends -->
        </activity>
        <!--End of main activity-->
        <activity android:name=".selectmenu" android:screenOrientation="portrait" />
        <activity android:name=".BookingActivity" android:screenOrientation="portrait" />
        <activity android:name=".normaluserwaitingscreen" android:screenOrientation="portrait" />
        <activity android:name=".gamephase" android:screenOrientation="portrait" />
        <activity android:name=".authentication" android:screenOrientation="portrait" />
        <activity android:name=".AdminPage" android:screenOrientation="portrait" />
        <activity android:name=".gamephase2" android:screenOrientation="portrait" />
        <activity android:name=".gamephase3" android:screenOrientation="portrait" />
        <activity android:name=".gamephase4" android:screenOrientation="portrait" />
        <activity android:name=".gamephaseAdmin" android:screenOrientation="portrait" />
        <activity android:name=".Fromauthwaitingscreen" android:screenOrientation="portrait" />
        <activity android:name=".TeamLeaderAuthentication" android:screenOrientation="portrait"/>

    </application>

</manifest>