<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danielappdev.fosterships">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".loadingactitvity"
            android:screenOrientation="portrait">

            <!-- Original Intent goes here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- ends -->
        </activity>
        <activity
            android:name=".selectmenu"
            android:screenOrientation="portrait" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".normaluserwaitingscreen" />
        <activity android:name=".gamephase" />
        <activity android:name=".authentication" />
        <activity android:name=".AdminPage" android:screenOrientation="portrait" />
        <activity android:name=".gamephase2" />
        <activity android:name=".gamephase3" />
        <activity android:name=".gamephase4" />
        <activity android:name=".gamephaseAdmin" />
        <activity android:name=".Fromauthwaitingscreen" />
        <activity android:name=".TeamLeaderAuthentication"/>
        <activity android:name=".Leaderboards"/>


    </application>

</manifest>